################保守设置#####################
!/plutommi/src
!/plutommi/src/test/java
!*.gradle

################开放模式#####################
/.idea/
*.iml
*.ipr
*.iws
/mtk/hello.iml
out
build
.gradle
.DS_Store
README.md