################保守设置#####################
!/plutommi/src
!/plutommi/src/test/java
!*.gradle

################开放模式#####################
/.idea/
*.iml
test.txt
/mtk/hello.iml
/mtk/out
/mtk/build
/mtk/.gradle
