<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee file:/Users/mpang/IdeaProjects/helloWorld/helloWorld.iml
        http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>servlet</servlet-name>>
        <servlet-class>HelloServlet</servlet-class>
    </servlet>>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servlet2</servlet-name>>
        <servlet-class>CalculateServlet</servlet-class>
    </servlet>>
    <servlet-mapping>
        <servlet-name>servlet2</servlet-name>
        <url-pattern>/calculate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servlet3</servlet-name>>
        <servlet-class>DirectServlet</servlet-class>
    </servlet>>
    <servlet-mapping>
        <servlet-name>servlet3</servlet-name>
        <url-pattern>/direct</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>MyListener</listener-class>
    </listener>

</web-app>