<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="clientBean" class="hello.Client">
        <property name="calculator" ref="mathCalculator"/>
    </bean>

    <bean id="mathCalculator" class="hello.MathCalculator">

    </bean>

    <bean id="normalCalculator" class="hello.NormalCalculator">

    </bean>
</beans>